{% extends 'base.html' %}
{% block title %} Customer Login {% endblock %}
{% block css %}
{% endblock %}
{% block body %}

<form style="border:1px solid #ccc" method="POST"> {% csrf_token %}
  <div class="container">
    <h1>Customer Login</h1>
    <p>Please fill in this form to login into your account.</p>
    <hr>

    {% if messages %}
      {% for message in messages %}
        <div class="text-danger">{{ message }}</div>
      {% endfor %}
    {% endif %}

    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label>
    <br>

    <div class="d-flex mt-3">
      <button type="submit" class="btn btn-primary" style="font-size: 22px; width: 8rem;">Login</button>
      <a href="/customer_signup/" class="btn btn-primary ms-3" style="font-size: 22px; width: 8rem;">Signup</a>
    </div>
  </div>
</form>

{% endblock %}
{% block js %}
<script>
  {% if alert %}
  alert("Invalid Credentials")
  document.location = "/customer_login"
  {% endif %}
</script>
{% endblock %}
{% include 'footer.html' %}
